html,
body{
	font-family: 'Roboto', sans-serif;
	/* to keep footer at bottom of page*/
	margin:0;
	padding:0;
	height:100%;
}

.container-fluid{
	 /* to keep footer at bottom of page*/
	position:relative;
	min-height:100%;
	padding-bottom:140px; /* Height of the footer element */
}

.nav{
  margin-top: 0px;
  padding: 10px 0px 10px 0px;
}

button{
	border: 0 !important;
	-webkit-appearance: none;
	background-color: transparent;
}

button:focus{
	outline: none !important;
	background-color: transparent!important;
}

button::-moz-focus-inner {
	border: 0;
}

#content{
	height: 260px;
	width: 260px;
	margin: auto;
	text-align: center;
	color: #344050;
	font-weight: bold !important;
}

#progressBarContainer{
	height: inherit;
	width: inherit;
	margin: auto;
	position: absolute;
	z-index: 0;
}

#timer{
 	position: relative;
 	margin: auto;
 	font-size: 40px;
 	margin-top: 25%;
 }

#toggleTimer{
	position: relative;
	z-index: 1;
}

.fa-cogs, .fa-undo, .fa-play, .fa-pause{
	color: #FC6E6E;
}

.modal-content{
	text-align: center;
}

#sessionInputSlider, #breakInputSlider{
	margin-right: 10px !important;
}

#sessionInputSlider .slider-selection,#breakInputSlider .slider-selection {
	background: #FC6E6E;
}

#sessions{
	margin-top:100px;
}

#sessionsCompleted{
	margin-bottom: -5%;
}

.sessIndicators > svg{
	height: 40px;
	width: 40px;
	margin-left: -15px;
	display: block;
}

.completed{
	fill: #FC6E6E !important;
}

/*Inspired by http://www.cssreset.com/demos/layouts/how-to-keep-footer-at-bottom-of-page-with-css/ */
#footer {
  font-size: 16px;
  width:100%;
  height:70px;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  bottom:0;
  left:0;
  background: #FC6E6E;
  color: white;
 }

a{
	color: white !important;
}

@media only screen and (max-width: 550px) {
  .slider-track{
	height: 14px !important;
	}
	.slider-handle{
		height: 26px !important;
		width: 26px !important;
	}
}