body{
	height: 100%;
	margin: 0;
	
}

.container-fluid{
	background-color: #FC6E6E;
  	min-height:100%;
	 /* to keep footer at bottom of page*/
  	position:relative;
  	padding-bottom: 200px;
	
}

#content{
  	width: 60%;
  	margin: auto;
    text-align: center;
}

#settings{
	font-size: 10px;

}

.col-xs-6{
	background-color: yellow;
}

.col-xs-3{
	background-color: orange;
}

#settings



