body{
	height: 100%;
	margin: 0;
	background-color: #FC6E6E;
	/* to keep footer at bottom of page*/
  	margin:0;
	padding:0;
  	height:100%;
}

.container-fluid{
	background-color: white;
  	/*min-height:100%;*/
	
}
.nav{
  margin-top: 0px;
  padding: 10px 0px 10px 0px;
 /*background-color: #337ab7;*/
}

#content{
  	width: 60%;
  	margin: auto;
    text-align: center;
}

#settings{
	font-size: 10px;
}

#settingsButton{
	outline: none;
}

.fa-cogs, .fa-undo{
	color: #FC6E6E;
}



.row{
	/*background-color: yellow;*/
}

.col-xs-3{
	/*background-color: orange;*/
}

.well{
	width: 60%;
  	margin: auto;
  	text-align: center;
}

#sessionInputSlider, #breakInputSlider{
	margin-right: 10px !important;
}

#sessionInputSlider .slider-selection,#breakInputSlider .slider-selection {
	background: #FC6E6E;
}

.slider-handle{
	background-color: #FC6E6E !important;
}


/*
Inspired by https://codepen.io/pbweb/full/yJGmgr/ and https://dribbble.com/shots/2405612-Minimalist-Pomodoro-Timer
*/

